* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}

.header {
    text-align: center;
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    color: grey;
}

#avatar {
    font-size: 6em;
    color: #ff4a60;
}

main {
    max-width: 1220px;
    margin: 0 auto;
}

.profile-grid,
.contact-grid {
    /* padding: 90px; */
    display: grid;
    grid-template-columns: 20% 80%;
    row-gap: 10rem;
    column-gap: 10rem;
}

.bottom-border:after {
	content: '';
	display: block;
	width: 30%;
	height: 1px;
	background-color: grey;
}

.profile-inner-grid,
.contact-inner-grid {
    display: grid;
    line-height: 0;
    grid-template-columns: 40% 60%;
    row-gap: 2rem;
    column-gap: 1rem;
}

.inner-grid2 {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10%;
}

.bold-text {
    font-weight: bolder;
    color: black;
}

.icons {
    border: 1px solid black;
    border-radius: 50%;
    padding: 6px;
}

#mobile {
    margin-left: 40px;
}

#envelope {
    margin-left: 19px;
}

#instagram {
    margin-left: 11px;
}

#linkedin {
    margin-left: 47px;
}


